body {
  background: rgb(50,175,254);
  background: linear-gradient(90deg, rgba(50,175,254,1) 0%, rgba(147,217,255,1) 100%, rgba(19,179,237,1) 100%);
  padding: 40px 0px;
}

h1 {
  color: white;
  text-align: center;
  padding-bottom: 30px;
}

#container {
  padding-bottom: 40px;
  -webkit-box-shadow: 4px 4px 19px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 4px 19px -1px rgba(0,0,0,0.75);
  box-shadow: 4px 4px 19px -1px rgba(0,0,0,0.75);
  width: 93%;
  background-color: white;
  border-radius: 10px;
}

p {
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
}

#first-paragraph {
  padding-top: 45px;
}

h4 {
  text-align: center;
}

.images {
  display: table;
  margin: 0 auto;
}

#email {
  text-decoration: underline;
}

img {
  width: 20vw;
  height: auto;
  padding: 10px 16px;
  border-radius: 35px 35px 35px 35px;
}

@media (max-width: 600px) {
  img {
    width: 30vw;
  }
}

h5 {
  text-align: center;
  padding-top: 16px;
}