body {
  background: rgb(50,175,254);
  background: linear-gradient(90deg, rgba(50,175,254,1) 0%, rgba(147,217,255,1) 100%, rgba(19,179,237,1) 100%);
  padding: 40px 0px;
}

h1 {
  color: white;
  text-align: center;
}

#container {
  padding-bottom: 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  align-content: space-around;
}

p {
  -webkit-box-shadow: 4px 4px 19px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 4px 19px -1px rgba(0,0,0,0.75);
  box-shadow: 4px 4px 19px -1px rgba(0,0,0,0.75);
  width: 93%;
  color: #32affe;
  background-color: white;
  padding: 16px;
  border-radius: 10px;
}

h4 {
  text-align: center;
}

#email {
  background: white;
  padding-bottom: 3px;
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 10px;
}

img {
  width: 20vw;
  height: auto;
  margin: auto;
  padding: 10px 0px;
}

@media (max-width: 600px) {
  img {
    width: 40vw;
  }
}
